<div class="container">
<nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><%= link_to 'Πίνακας Διαχείρισης', welcomes_path %></li>
        </ul>
      </div>
    </nav>
<p id="notice"><%= notice %></p>

<h1>Λίστα Υπηρεσιών</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tίτλος</th>
      <th>Tιμή</th>
      <th>Κατηγορία</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.title %></td>
        <td><%= service.price %></td>
        <td><%= Category.find(service.category_id).name %></td>
        <td><%= link_to '<i class="fa fa-arrows-alt"></i> Προβολή'.html_safe, service, class:"btn btn-success btn-xs" %></td>
        <td><%= link_to '<i class="fa fa-edit"></i> Επεξεργασία'.html_safe, edit_service_path(service), class:"btn btn-warning btn-xs" %></td>
        <td><%= link_to '<i class="fa fa-remove"></i> Διαγραφή'.html_safe, service, class:"btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<nav>
<%= will_paginate @services %>
</nav>
<%= link_to '<i class="fa fa-plus-square"></i> Νέα Υπηρεσία'.html_safe, new_service_path, class:"btn btn-primary btn-xs" %>
</div>