<div class="container">
<h1>Client Details</h1>
Name: <%= @client.name %><br>
Surname: <%= @client.name %><br>
Phone: <%= @client.phone %><br>
Email: <%= @client.email %><br>
Address: <%= @client.address %><br>
Floor: <%= @client.floor %><br>
Message: <%= @client.message %>
<hr>
<%= link_to 'Back', clients_path, class:"btn btn-default btn-xs" %>
</end>