<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><%= link_to 'Διαχείριση Πελατών', clients_path %></li>
            <li><%= link_to 'Διαχείριση Υπηρεσιών', services_path %></li>
            <li><%= link_to 'Διαχείριση Κατηγοριών', categories_path %></li>
            <li><%= link_to 'Διαχείριση Ακινήτων', properties_path %></li>
            <li><%= link_to 'Αρχική Σελίδα', root_path %></li>
        </ul>
      </div>
    </nav>
    <h1>Πίνακας Διαχείρισης</h1>
<table class="table">
  <thead>
    <tr>
      <th>Τίτλος Κειμένου</th>
      <th>Επεξεργασία</th>
    </tr>
  </thead>

  <tbody>
    <% @welcomes.each do |w| %>
      <tr>
        <td><%= w.title %></td>
        <td><%= link_to 'Επεξεργασία', edit_welcome_path(w), class: "btn btn-warning btn-xs" %></td>
        </tr>
        <% end %>
      </th>
  </tbody>
</table>
    <hr>
    <h3>Επεξεργασία Στοιχείων Επικοινωνίας:</h3>
    <% @socials.each do |s| %>
    <div class="row">
    <u>Facebook Url:</u> <%= s.facebook %>
    <u>Τηλέφωνο:</u> <%= s.phone %>
    <%= link_to 'Επεξεργασία', edit_social_path(s), class: "btn btn-warning btn-xs" %>
    </div>
    <% end %>
    
</div>