<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><%= link_to 'Clients Administration', clients_path %></li>
            <li><%= link_to 'Home Page', root_path %></li>
        </ul>
      </div>
    </nav>
    <h1>Admin Panel for Front Page's Inputs</h1>
    
    <% @welcomes.each do |w| %>
    <div class="row">
    <%= w.title %>  
    <%= link_to 'Edit', edit_welcome_path(w), class: "btn btn-warning btn-xs" %>
    </div>
    <% end %>
    <hr>
    <% @socials.each do |s| %>
    <div class="row">
    <%= s.facebook %>
    <%= s.phone %>
    <%= link_to 'Edit', edit_social_path(s), class: "btn btn-warning btn-xs" %>
    </div>
    <% end %>
    
</div>