<div class="modal-form">
<%= simple_form_for(Client.new, html: { class: 'form-horizontal' }) do |f| %>
<%= f.input :name, :required => true %>
<%= f.input :surname, :required => true %>
<%= f.input :phone, :required => true %>
<%= f.input :email, :required => true %>
<%= f.input :address %>
<%= f.input :floor %>
<%= f.input :message %>
<%= f.button :submit, "Register" %>
<% end %>
</div>