    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="<%= url_for(action: 'index', controller: 'frontpage') %>"><%= image_tag ("airservices-logo-new-vert.png"), class:("logo") %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about" class="scroll">Σχετικά</a>
                    </li>
                    <li>
                        <a href="#services" class="scroll">Υπηρεσίες</a>
                    </li>
                    <li>
                        <a href="#contact" class="scroll">Επικοινωνία</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about" id="about"></a><a name="home" id="home"></a>
    <div class="intro-header">
        <div class="container">
            <% if flash[:notice] %>
            <p id="notice" class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
            <% else %>
            <p></p>
            <% end %>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><%= image_tag ("airservices-logo-new-vert.png"), class:("main") %> Athens</h1>
                        <h3>Contemporary Housekeeping by K. Kavounis</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="<%= @social.facebook %>" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services" id="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><%= @box_one.title %></h2>
                    <p class="lead"><%= @box_one.body %></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag ("giving-key.jpg"), class:("img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><%= @box_two.title %></h2>
                    <p class="lead"><%= @box_two.body %></p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag ("housekeeping.jpg"), class:("img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><%= @box_three.title %></h2>
                    <p class="lead"><%= @box_three.body %></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag ("plumber.jpg"), class:("img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact" id="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Επικοινωνείστε μαζί μας άμεσα για πληροφορίες:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="" class="btn btn-default btn-lg"><i class="fa fa-phone"></i> <span class="network-name"><%= @social.phone %></span></a>
                        </li>
                        <li>
                            <a href="" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope"></i> <span class="network-name">Email</span></a>
                        </li>
                        <li>
                            <a href="" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myServices"><i class="fa fa-euro"></i> <span class="network-name">Τιμοκαταλογος</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home" class="scroll">Αρχική</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about" class="scroll">Σχετικά</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services" class="scroll">Υπηρεσίες</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact" class="scroll">Επικοινωνία</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; AirServices <%= Time.now.year %>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Παρακαλούμε Εκδηλώστε το Ενδιαφέρον σας</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Άκυρο</button>
        
      </div>
    </div>
  </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="myServices" tabindex="-1" role="dialog" aria-labelledby="myServicesLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Κατηγορίες & Τιμοκατάλογος Υπηρεσιών</h4>
      </div>
      <div class="modal-body">
        <% @service_list.each do |category, s_items| %>
        <h3><%= category %></h3>
        <table class="table">
            <% s_items.each do |s| %>
            <tr>
                <td>
                    <%= s.title %>
                </td>
                <td>
                    <i class="fa fa-eur"></i> <%= s.price %>
                </td>
            </tr>  
            <% end %>
        </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Άκυρο</button>
        
      </div>
    </div>
  </div>
</div>